/* Smaller screens: from 768 to 1000px */
@media only screen and (max-width: 1000px) {
    .calc div:last-of-type {
        font-size: 3em;
        margin-top: 2em;
    }
}


/* Small phones to small tablets: from 481 to 767px */
@media only screen and (max-width: 767px) {
    body {
        font-size: 12px;
    }

    input {
        width: 80%;
        margin-bottom: 10px;
        padding: 8px 6px 8px 10px;
    }

    p {
        padding: 2px;
    }

    div p:nth-child(2) {
        margin-top: 2px;
        font-size: 2.25em;
    }

    .calc div:last-of-type {
        position: static;
        max-width: 100%;
        margin-top: .5em;

        font-size: 2em;
        font-weight: 400;
        line-height: 1.35;
    
        text-align: center;
    }

    .love {
        position: absolute;
        top: 95%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

/* Small phones: from 0 to 480px */
@media only screen and (max-width: 480px) {
    div p:nth-child(2) {
        padding: 0;
    }

    .calc div:last-of-type {
        padding: 0 20px;
    }

    h1 {
        margin-bottom: 0;
    }
    
    .love {
        font-size: .9em;
        color: #d1d1d1;
    }

    a {
        color: #d1d1d1;
    }
}