* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    font-family: 'Open Sans', 'Helvetica', sans-serif;
    font-size: 12px;
}

div {
    padding: 10px;
}

.calc {

    background-image: linear-gradient(to bottom right, #dd5f2e, #ec5b7e);
    color: black;
    font-weight: 100;
    line-height: 1.6;
    

    border-radius: 5px;
    box-shadow: 60px 20px 40px 5px rgba(44, 44, 44, 0.8);

    min-width: 50vw;
    min-height: 85vh;
    padding: 20px;
    
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1, p {
    color: white;
    padding: 10px;
    font-weight: 100;
}

h1 {
    font-size: 1.5em;
}

div p:nth-child(2) {
    color: #dd5f2e;
    font-size: 1em;
    margin-top: 10px;
}

div p:nth-child(3) {
    color: #ec5b7e;
    font-size: 2em;
}

.calc div:nth-child(2) {
    padding-top: 8%;
}

.calc div:nth-child(4) {
    padding-bottom: 5%;
}

label {
    text-align: center;
    font-size: 1.2em;
    margin: 20px;
}

input {
    display: block;
    width: 60%;

    margin: 0 auto;
    margin-left: 20px;
    margin-bottom: 20px;
    padding: 10px 8px 10px 15px;

    border: 1px solid white;
    border-radius: 20px;
    background-color: white;
    box-shadow: 2px 6px 6px 4px rgba(44, 44, 44, 0.1);

    font-size: 1.4em;   
}

input:focus {
    border: 1px solid #555;
    outline: none;
}

.calc div:last-of-type {
    clip-path: polygon(20% 0, 100% 0%, 100% 100%, 0 100%);
    background-color: rgb(32, 32, 32);
    color: #dd5f2e;

    border-radius: 5px 5px 5px 0;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(40%, -50%);

    padding: 60px;

    
    font-size: 2em;
    font-weight: 400;
    line-height: 1.6;

    text-align: right;

    height: 100%;
}

img {
    margin: 0 auto;
    padding-left: 20%;
    display: block;
}

.love {
    position: fixed;
    top: 80%;
    left: 50%;
    transform: translate(15vw, 5vh);
    color: rgb(172, 172, 172);
}

span {
    color: #be0000; 
}

a {
    text-decoration: none;
    color: rgb(172, 172, 172);
}