* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('Sergio-R-on-Unsplash-min.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    overflow: hidden;

    font-size: 16px;
}

div {
    margin: 0.5em;
}

.calc {
    background-color: rgba(255, 255, 255, 0.7);
    color: black;
    font-family: 'Open Sans', 'Helvetica', sans-serif;
    font-weight: 400;
    line-height: 1.6;
    

    border-radius: 5px;
    box-shadow: 0 60px 40px -40px rgba(44, 44, 44, 0.5);

    padding: 2em;
    
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

p {
    margin-bottom: 10%;
    font-size: 2em;
}

label {
    font-size: 0.8em;
}

input {
    border: none;
    border-radius: 20px;
    background-color: rgba(240, 240, 240, 0.356);
    font-size: 1em;
    padding: 8px 8px 8px 15px;

    display: block;
}

input:focus {
    border: 2px solid #555;
    outline: none;
}

.calc div:last-of-type {
    margin-top: 5%;
    text-align: center;
}